<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="css/styles.css" type="text/css" rel="stylesheet"/>
  <link rel="shortcut icon" href="img/icon/favicon.png" type="image/x-icon">
  <title>Amigo Invisible</title>
</head>
<body>
	<header>
		<h1>Amigo Invisible</h1>
		<h3><a href="login">Iniciar Sesión</a> o <a href="registration">Registrarte</a></h3>
		{{>nav}}
		
		<div>
			{{#if exicto_msg}}
				<div>{{exito_msg}}</div>
			{{/if}}

			{{#if error_msg}}
				<div>{{error_msg}}</div>
			{{/if}}

			{{#if error}}
				<div>{{error}}</div>
			{{/if}}
		</div>

		{{{body}}}

	</header>
	

</body>