<h2>Login</h2>
<form method="post" action="/login">
  <div>
    <label>Nombre de usuario</label><br>
    <input type="text" name="username" placeholder="Nombre de usuario">
  </div>
  <div>
    <label>Contraseña</label><br>
    <input type="password" name="password" placeholder="Contraseña">
  </div>
  <button type="submit" class="btn btn-default">Entrar</button>
</form>