<h2>Mensajes</h2>
<form action="/mensaje/enviar">
	<div>
		<label>Escriba su mensaje para {{user.id}} </label><br>
		<textarea id="emailMsg" name="emailMsg"></textarea>
	</div>
	<button>Enviar mensaje</button>
</form>