<h2>Registro</h2>
{{#if errors}}
  {{#each errors}}
    <div>{{msg}}</div>
  {{/each}}
{{else}}

{{/if}}
<form method="post" action="/registration">
  <div>
    <label>Nombre de usuario</label>
    <input type="text" placeholder="Nombre de usuario" name="username">
  </div>
   <div>
    <label>Email</label>
    <input type="email" placeholder="Email" name="email">
  </div>
  <div>
    <label>Contrase単a</label>
    <input type="password" placeholder="Contrase単a" name="password">
  </div>
  <div>
    <label>Confirmar Contrase単a</label>
    <input type="password" placeholder="Confirmar Contrase単a" name="password2">
  </div>
  <button type="submit">Registrarme</button>
</form>