<form action="/contact/submitporget">
	<input type="text" name="username" placeholder="Nombre de usuario" id="username"><br>
	<input type="email" name="email" placeholder="ejemplo@mail.com" id="email"><br>
	<input type="password" name="password" placeholder="Contraseña" id="password"><br>
	<input type="password" name="password2" placeholder="Repetir Contraseña" id="repasword"><br>
	<button type="button" name="register" id="registro">Registrarte</button>
</form>