<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Amigo Invisible</title>
  <link rel="shortcut icon" href="img/icon/favicon.png" type="image/x-icon">
</head>
<body>
	<header>
		<h1>Amigo Invisible</h1>
		<h3><a href="login.html">Iniciar Sesión</a> o <a href="registration.html">Registrarte</a></h3>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="">Perfil</a></li>
				<li><a href="">Mensajes</a></li>
			</ul>
		</nav>
	</header>
	

</body>